.normal-butt {
  border-color: #333333;
  background-color: white;
  color: #333333;
}
.normal-butt:hover {
  background-color: #aaaaaa;
}

.normal-butt.wrong-butt {
  border-color: #aa0000;
  background-color: white;
  color: #aa0000;
}

.normal-butt.wrong-butt.selected {
  background-color: #aa0000;
  color: white;
}

.normal-butt.right-butt {
  border-color: #00aa00;
  background-color: white;
  color: #00aa00;
}

.normal-butt.right-butt.selected {
  background-color: #00aa00;
  color: white;
}

.disable-butt {
  pointer-events: none;
}

body.night {
  background-color: black
}

label.night {
  color: white;
}

.normal-butt.night {
  border-color: white;
  background-color: black;
  color: white;
}
.normal-butt.night:hover {
  border-color: white;
  background-color: #333333;
  color: white;
}

.normal-butt.wrong-butt.night {
  border-color: #aa0000;
  background-color: black;
  color: #aa0000;
}

.normal-butt.wrong-butt.selected.night {
  background-color: #aa0000;
  color: white;
}

.normal-butt.right-butt.night {
  border-color: #00aa00;
  background-color: black;
  color: #00aa00;
}

.normal-butt.right-butt.selected.night {
  background-color: #00aa00;
  color: black;
}

.button-primary.night {
  border-color: #ffcc00 !important;
  background-color: #ffcc00 !important;
  color: black !important;
}

.button-primary.night:hover {
  border-color: #ddaf00 !important;
  background-color: #ddaf00 !important;
  color: black !important;
}

span.night {
  color: white;
}

.resizefix {
  margin-left: 0% !important;
}

select {
  border-color: #333333;
  background-color: white;
  color: #333333;
}

select.night {
  border-color: white;
  background-color: black;
  color: white;
}

select.correct {
  border-color: #00aa00;
  color: #00aa00;
}

select.wrong {
  border-color: #aa0000;
  color: #aa0000;
}

span.correct {
  color: #00aa00;
}

span.wrong {
  color: #aa0000;
}